* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#wrapper {
  margin: 15px;
}

#maze {
  background: #f9f6ec;
}
#maze canvas {
  display: block;
}

#controls {
}

.button {
  display: inline-block;
  margin-bottom: 12px;
  padding: 2px 6px;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  border-color: #bbb;
}
#fewerRows, #fewerColumns {
  margin-right: 8px;
}

.display {
  display: inline-block;
  width: 25px;
  text-align: center;
}

